# Intro APIs

In [1]:
from pyjstat import pyjstat
import requests

# API for Statistics Norway, table of traffic accidents
POST_URL = 'https://data.ssb.no/api/v0/en/table/06794'
# Paste the URL into a browser to see all the options

# The payload is the JSON-stat dataset identifier
payload = { "query": [{ "code": "Skadegrad", "selection": { "filter": "item", "values": [ "01", "20", "02", "04", "05" ] } }, 
                      { "code": "Kjonn", "selection": { "filter": "item", "values": [ "1", "2" ] } }, 
                      { "code": "Trafikkantgruppe", "selection": { "filter": "item", "values": [ "1", "2", "3", "7", "8" ] } }, 
                      { "code": "ContentsCode", "selection": { "filter": "item", "values": [ "SkaddDrept" ] } }, 
                      { "code": "Tid", "selection": { "filter": "item", "values": [ "1999M01", "1999M02", "1999M03", "2024M06", "2024M07" ] } } 
                      ], 
                      "response": { "format": "json-stat2" } }

result = requests.post(POST_URL, json = payload)
print(result) # 200 = OK

<Response [200]>

In [2]:
# Extract DataFrame from JSON-stat
dataset = pyjstat.Dataset.read(result.text)
df = dataset.write('dataframe')
print(df.shape)
df.head()

(250, 6)

,degree of damage,sex,group of road user,contents,month,value
0,Killed,Females,Drivers of car,Persons killed or injured,1999M01,2
1,Killed,Females,Drivers of car,Persons killed or injured,1999M02,3
2,Killed,Females,Drivers of car,Persons killed or injured,1999M03,1
3,Killed,Females,Drivers of car,Persons killed or injured,2024M06,0
4,Killed,Females,Drivers of car,Persons killed or injured,2024M07,0

In [3]:
# New payload with less restrictions
payload = { "query": [ { "code": "Skadegrad", "selection": { "filter": "all", "values": [ "*" ] } }, 
                      { "code": "Kjonn", "selection": { "filter": "all", "values": [ "*" ] } }, 
                      { "code": "Trafikkantgruppe", "selection": { "filter": "all", "values": [ "*" ] } }, 
                      { "code": "ContentsCode", "selection": { "filter": "all", "values": [ "*" ] } }, 
                      { "code": "Tid", "selection": { "filter": "all", "values": [ "*" ] } } 
                      ], 
                      "response": { "format": "json-stat2" } }

result = requests.post(POST_URL, json = payload)
print(result) # 200 = OK

<Response [200]>

In [4]:
dataset = pyjstat.Dataset.read(result.text)
df_all = dataset.write('dataframe')
print(df_all.shape)
df_all.head()

(30816, 6)

,degree of damage,sex,group of road user,contents,month,value
0,Killed,Females,Drivers of car,Persons killed or injured,1999M01,2
1,Killed,Females,Drivers of car,Persons killed or injured,1999M02,3
2,Killed,Females,Drivers of car,Persons killed or injured,1999M03,1
3,Killed,Females,Drivers of car,Persons killed or injured,1999M04,3
4,Killed,Females,Drivers of car,Persons killed or injured,1999M05,3

In [5]:
# API for Statistics Norway, table of traffic accidents
POST_URL = 'https://data.ssb.no/api/v0/en/table/1068'
# Paste the URL into a browser to see all the options

# The payload is the JSON-stat dataset identifier
payload = { "query": [], 
                      "response": { "format": "json-stat2" } }

result = requests.post(POST_URL, json = payload)
print(result) # 200 = OK

<Response [400]>