# Assignment 3

## AI usage

## Log

## Links 

- Github: https://github.com/Satheris/IND320_SMAA
- Streamlit app: https://ind320smaa-2eg32uba6uhmrknkwtxzar.streamlit.app/

## Coding

### Imports

In [1]:
import pandas as pd
import numpy as np

### blæ

In [7]:
osloLat = 59.9127
osloLong = 10.7461

bergenLat = 60.393
bergenLong = 5.3242

trdLat = 63.4305
trdLong = 10.3951

tromsLat = 69.6489
tromsLong = 18.9551

kristLat = 58.1467
kristLong = 7.9956

citydict = {'priceArea': ['NO1', 'NO2', 'NO3', 'NO4', 'NO5'],
            'city': ['Oslo', 'Kristiansand', 'Bergen', 'Tromsø', 'Trondheim'],
            'longitude': [osloLong, kristLong, bergenLong, tromsLong, trdLong],
            'latitude': [osloLat, kristLat, bergenLat, tromsLat, trdLat]}


df = pd.DataFrame(citydict)

df

  priceArea          city  longitude  latitude
0       NO1          Oslo    10.7461   59.9127
1       NO2  Kristiansand     7.9956   58.1467
2       NO3        Bergen     5.3242   60.3930
3       NO4        Tromsø    18.9551   69.6489
4       NO5     Trondheim    10.3951   63.4305